Repository TheChance101/MENA-backend, pull requests merged in 2025-09, with the labels that each got.

#8 [CHT-14]-Add basic structure for chat feature
  chat/build.gradle.kts
  chat/src/main/kotlin/chat/ChatController.kt
  chat/src/main/kotlin/net/thechance/chat/api/controller/ContactController.kt
  chat/src/main/kotlin/net/thechance/chat/api/dto/.gitkeep
  chat/src/main/kotlin/net/thechance/chat/entity/Contact.kt
  chat/src/main/kotlin/net/thechance/chat/repository/ContactRepository.kt
  chat/src/main/kotlin/net/thechance/chat/service/ContactService.kt
Labels: Chat

#11 Feature/TRN 15 setup backend
  trends/build.gradle.kts
  trends/src/main/kotlin/net/thechance/trends/api/controller/.gitkeep
  trends/src/main/kotlin/net/thechance/trends/api/dto/.gitkeep
  trends/src/main/kotlin/net/thechance/trends/entity/Category.kt
  trends/src/main/kotlin/net/thechance/trends/repository/CategoryRepository.kt
  trends/src/main/kotlin/net/thechance/trends/service/.gitkeep
  trends/src/main/kotlin/trends/TrendsController.kt
Labels: Trends

#7 Feature/WLT-10 create tables and repository
  wallet/build.gradle.kts
  wallet/src/main/kotlin/net/thechance/wallet/api/controller/WalletController.kt
  wallet/src/main/kotlin/net/thechance/wallet/api/dto/.gitkeep
  wallet/src/main/kotlin/net/thechance/wallet/entity/Block.kt
  wallet/src/main/kotlin/net/thechance/wallet/entity/PublicKey.kt
  wallet/src/main/kotlin/net/thechance/wallet/entity/Transaction.kt
  wallet/src/main/kotlin/net/thechance/wallet/repository/TransactionRepository.kt
  wallet/src/main/kotlin/net/thechance/wallet/service/.gitkeep
Labels: Wallet

#29 - add the BalanceController & the WalletService
  wallet/src/main/kotlin/net/thechance/wallet/api/controller/BalanceController.kt
  wallet/src/main/kotlin/net/thechance/wallet/api/dto/.gitkeep
  wallet/src/main/kotlin/net/thechance/wallet/api/dto/BalanceDto.kt
  wallet/src/main/kotlin/net/thechance/wallet/repository/TransactionRepository.kt
  wallet/src/main/kotlin/net/thechance/wallet/service/.gitkeep
  wallet/src/main/kotlin/net/thechance/wallet/service/WalletService.kt
Labels: Wallet

#18 Feature/ TRN-10-add implementation of delete trend functionality
  trends/build.gradle.kts
  trends/src/main/kotlin/net/thechance/trends/api/controller/.gitkeep
  trends/src/main/kotlin/net/thechance/trends/api/controller/ReelsController.kt
  trends/src/main/kotlin/net/thechance/trends/api/controller/TrendsGlobalExceptionHandler.kt
  trends/src/main/kotlin/net/thechance/trends/api/controller/exception/ReelNotFoundException.kt
  trends/src/main/kotlin/net/thechance/trends/api/dto/.gitkeep
  trends/src/main/kotlin/net/thechance/trends/entity/Reel.kt
  trends/src/main/kotlin/net/thechance/trends/repository/ReelsRepository.kt
  trends/src/main/kotlin/net/thechance/trends/service/.gitkeep
  trends/src/main/kotlin/net/thechance/trends/service/ReelsService.kt
Labels: Trends

#21 #DKN-19 Get Dukan statues
  dukan/build.gradle.kts
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanController.kt
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanExceptionHandler.kt
  dukan/src/main/kotlin/net/thechance/dukan/api/dto/DukanStatuesResponse.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanNotFoundException.kt
  dukan/src/main/kotlin/net/thechance/dukan/repository/DukanRepository.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanService.kt
Labels: Dukan

#12 #DKN-17 Get available styles
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanController.kt
  dukan/src/main/kotlin/net/thechance/dukan/api/dto/DukanStyleResponse.kt
  dukan/src/main/kotlin/net/thechance/dukan/mapper/DukanCategroyMapper.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanService.kt
Labels: Dukan

#26 Feature/ Uplaod Dukan Image
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanController.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanNotFoundException.kt
  dukan/src/main/kotlin/net/thechance/dukan/repository/DukanRepository.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanService.kt
Labels: Dukan

#23 Feature/Liquibase
  app/build.gradle.kts
  app/src/main/resources/application.properties
  app/src/main/resources/db/changelog/db.changelog-master.yaml
  chat/src/main/resources/db-chat/changelog/changelogs/changelogs_001.yaml
  chat/src/main/resources/db-chat/changelog/db.changelog-master.yaml
  dukan/src/main/resources/db-dukan/changelog/changelogs/changelogs_001.yaml
  dukan/src/main/resources/db-dukan/changelog/db.changelog-master.yaml
  faith/src/main/resources/db-faith/changelog/changelogs/changelogs_001.yaml
  faith/src/main/resources/db-faith/changelog/db.changelog-master.yaml
  identity/src/main/kotlin/identity/entity/RefreshToken.kt
  identity/src/main/kotlin/identity/entity/User.kt
  identity/src/main/resources/db-identity/changelog/changelogs/changelogs_001.yaml
  identity/src/main/resources/db-identity/changelog/db.changelog-master.yaml
  trends/src/main/resources/db-trends/changelog/changelogs/changelogs_001.yaml
  trends/src/main/resources/db-trends/changelog/db.changelog-master.yaml
  wallet/src/main/resources/db-wallet/changelog/changelogs/changelogs_001.yaml
  wallet/src/main/resources/db-wallet/changelog/db.changelog-master.yaml
Labels: Wallet

#34 [Feature/DKN-35] - Implement image storage service with S3 integration
  app/build.gradle.kts
  app/src/main/kotlin/net/thechance/config/StorageConfig.kt
  app/src/main/resources/application.properties
  dukan/build.gradle.kts
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanExceptionHandler.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanExceptions.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/ImageStorageService.kt
Labels: Dukan

#22 Feature/CHT-5-create-get-contact-endpoint
  chat/build.gradle.kts
  chat/src/main/kotlin/net/thechance/chat/api/controller/ContactController.kt
  chat/src/main/kotlin/net/thechance/chat/api/dto/.gitkeep
  chat/src/main/kotlin/net/thechance/chat/api/dto/ContactResponse.kt
  chat/src/main/kotlin/net/thechance/chat/api/dto/PagedResponse.kt
  chat/src/main/kotlin/net/thechance/chat/entity/User.kt
  chat/src/main/kotlin/net/thechance/chat/repository/ContactRepository.kt
  chat/src/main/kotlin/net/thechance/chat/service/ContactModel.kt
  chat/src/main/kotlin/net/thechance/chat/service/ContactService.kt
Labels: Chat

#16 Feature/FTH-13 Save aya to bookmark
  faith/build.gradle.kts
  faith/src/main/kotlin/faith/FaithController.kt
  faith/src/main/kotlin/net/thechance/faith/api/controller/AyahBookmarkController.kt
  faith/src/main/kotlin/net/thechance/faith/api/dto/bookmark/AyahBookmarkMapper.kt
  faith/src/main/kotlin/net/thechance/faith/api/dto/bookmark/AyahBookmarkRequest.kt
  faith/src/main/kotlin/net/thechance/faith/api/dto/bookmark/AyahBookmarkResponse.kt
  faith/src/main/kotlin/net/thechance/faith/entity/AyahBookmark.kt
  faith/src/main/kotlin/net/thechance/faith/repository/AyahBookmarkRepository.kt
  faith/src/main/kotlin/net/thechance/faith/service/AyahBookmarkService.kt
Labels: Faith

#36 CHT-34-rename user related entities and update references and fix a bug
  chat/src/main/kotlin/net/thechance/chat/api/dto/PagedResponse.kt
  chat/src/main/kotlin/net/thechance/chat/entity/Contact.kt
  chat/src/main/kotlin/net/thechance/chat/entity/ContactUser.kt
  chat/src/main/kotlin/net/thechance/chat/repository/ContactRepository.kt
  chat/src/main/kotlin/net/thechance/chat/repository/ContactUserRepository.kt
  chat/src/main/kotlin/net/thechance/chat/service/ContactService.kt
  chat/src/main/kotlin/net/thechance/chat/service/model/ContactModel.kt
  chat/src/main/resources/db-chat/changelog/changelogs/changelogs_002.yaml
Labels: Chat

#40 upload dukan image to storage service
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanService.kt
Labels: Dukan

#39 Feature/FTH-15 delete ayah bookmark
  faith/src/main/kotlin/net/thechance/faith/api/controller/AyahBookmarkController.kt
  faith/src/main/kotlin/net/thechance/faith/api/controller/exception/ApiErrorResponse.kt
  faith/src/main/kotlin/net/thechance/faith/api/controller/exception/Exceptions.kt
  faith/src/main/kotlin/net/thechance/faith/api/controller/exception/FaithExceptionHandler.kt
  faith/src/main/kotlin/net/thechance/faith/repository/AyahBookmarkRepository.kt
  faith/src/main/kotlin/net/thechance/faith/service/AyahBookmarkService.kt
Labels: Faith

#35 [Feature/DKN-37] - Implement buket storage for dukan,trends, wallet features
  app/src/main/kotlin/net/thechance/config/StorageConfig.kt
  app/src/main/kotlin/net/thechance/config/storage/StorageConfig.kt
  app/src/main/kotlin/net/thechance/config/storage/StorageProperties.kt
  app/src/main/resources/application.properties
  dukan/src/main/kotlin/net/thechance/dukan/service/ImageStorageService.kt
Labels: Dukan

#41 Feature/IDN-45 Setup Kover and Build CI for Backend Modules
  .github/workflows/build_ci.yml
  .github/workflows/detect-changed-modules.yml
  .github/workflows/test_coverage.yml
  build.gradle.kts
  chat/build.gradle.kts
  dukan/build.gradle.kts
  faith/build.gradle.kts
  identity/build.gradle.kts
  trends/build.gradle.kts
  wallet/build.gradle.kts
Labels: Infra

#38 Check the branch naming and put label automatically for the PR
  .github/auto-label.yml
  .github/branch-name-check.yml
Labels: Infra

#46 Feature/dkn 44 create shelf
  dukan/src/main/kotlin/net/thechance/dukan/entity/Dukan.kt
  dukan/src/main/kotlin/net/thechance/dukan/entity/DukanShelf.kt
  dukan/src/main/kotlin/net/thechance/dukan/repository/DukanShelfRepository.kt
  dukan/src/main/resources/db-dukan/changelog/changelogs/changelogs_001.yaml
Labels: Dukan

#45 Feature: FTH-14 get ayah bookmarks
  faith/src/main/kotlin/net/thechance/faith/api/controller/AyahBookmarkController.kt
  faith/src/main/kotlin/net/thechance/faith/repository/AyahBookmarkRepository.kt
  faith/src/main/kotlin/net/thechance/faith/service/AyahBookmarkService.kt
  faith/src/main/resources/db-faith/changelog/changelogs/changelogs_001.yaml
Labels: Faith

#25 Feature/TRN-18 user categories
  trends/build.gradle.kts
  trends/src/main/kotlin/net/thechance/trends/api/controller/TrendsGlobalExceptionHandler.kt
  trends/src/main/kotlin/net/thechance/trends/api/controller/category/CategoryController.kt
  trends/src/main/kotlin/net/thechance/trends/api/controller/exception/ReelNotFoundException.kt
  trends/src/main/kotlin/net/thechance/trends/api/controller/exception/TrendExceptions.kt
  trends/src/main/kotlin/net/thechance/trends/api/controller/reel/ReelsController.kt
  trends/src/main/kotlin/net/thechance/trends/api/controller/user/TrendUserController.kt
  trends/src/main/kotlin/net/thechance/trends/api/dto/category/SubmitUserCategoriesRequest.kt
  trends/src/main/kotlin/net/thechance/trends/api/dto/category/SubmitUserCategoriesResponse.kt
  trends/src/main/kotlin/net/thechance/trends/api/dto/trendUser/DoesUserHaveCategoriesResponse.kt
  trends/src/main/kotlin/net/thechance/trends/entity/Category.kt
  trends/src/main/kotlin/net/thechance/trends/entity/TrendUser.kt
  trends/src/main/kotlin/net/thechance/trends/repository/CategoryRepository.kt
  trends/src/main/kotlin/net/thechance/trends/repository/TrendUserRepository.kt
  trends/src/main/kotlin/net/thechance/trends/service/CategoryService.kt
  trends/src/main/kotlin/net/thechance/trends/service/TrendUserService.kt
  trends/src/main/resources/db-trends/changelog/changelogs/changelogs_002.yaml
Labels: Trends

#48 Feature / Dukan shelf creation endpoint
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanShelfController.kt
  dukan/src/main/kotlin/net/thechance/dukan/api/dto/DukanShelfCreationRequest.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanExceptions.kt
  dukan/src/main/kotlin/net/thechance/dukan/repository/DukanShelfRepository.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanShelfService.kt
Labels: Dukan

#47 create DukanProduct entity and relative repository
  dukan/src/main/kotlin/net/thechance/dukan/entity/DukanProduct.kt
  dukan/src/main/kotlin/net/thechance/dukan/repository/DukanProductRepository.kt
  dukan/src/main/resources/db-dukan/changelog/changelogs/changelogs_001.yaml
Labels: Dukan

#58 #DKN-51 Upload product images
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanProductController.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/dukan_product/ProductNotFoundException.kt
  dukan/src/main/kotlin/net/thechance/dukan/repository/DukanProductRepository.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanProductService.kt
Labels: Dukan

#65 Hotfix: Remove leftover merge marker from dev
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanShelfService.kt
Labels: Dukan

#62 #DKN-49 Create a product according to the selected shelf
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanExceptionHandler.kt
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanProductController.kt
  dukan/src/main/kotlin/net/thechance/dukan/api/dto/DukanProductCreationRequest.kt
  dukan/src/main/kotlin/net/thechance/dukan/api/dto/DukanProductCreationResponse.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/dukan_product/DukanProductCreationFailedException.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/dukan_product/ProductNameAlreadyTakenException.kt
  dukan/src/main/kotlin/net/thechance/dukan/mapper/DukanProductCreationMapper.kt
  dukan/src/main/kotlin/net/thechance/dukan/repository/DukanProductRepository.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanProductService.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanShelfService.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/model/DukanProductCreationParams.kt
Labels: Dukan

#59 Feature: Get user's profile information
  identity/src/main/kotlin/net/thechance/identity/api/controller/IdentityControllerAdvice.kt
  identity/src/main/kotlin/net/thechance/identity/api/controller/ProfileController.kt
  identity/src/main/kotlin/net/thechance/identity/api/dto/ProfileResponse.kt
  identity/src/main/kotlin/net/thechance/identity/entity/User.kt
  identity/src/main/kotlin/net/thechance/identity/exception/AuthenticationException.kt
  identity/src/main/kotlin/net/thechance/identity/mapper/UserMapper.kt
  identity/src/main/kotlin/net/thechance/identity/service/UserService.kt
  identity/src/main/resources/db-identity/changelog/changelogs/changelogs_002.yaml
  identity/src/test/kotlin/net/thechance/identity/utils/DummyUsers.kt
Labels: Infra
