Repository TheChance101/MENA-backend, pull requests merged in 2025-10, with the labels that each got.

#61 Feature/WLT-3 transaction details endpoint
  dukan/src/main/resources/db-dukan/changelog/changelogs/changelog-001.yaml
  wallet/src/main/kotlin/net/thechance/wallet/api/controller/TransactionController.kt
  wallet/src/main/kotlin/net/thechance/wallet/repository/TransactionRepository.kt
  wallet/src/main/kotlin/net/thechance/wallet/service/TransactionService.kt
  wallet/src/test/kotlin/net/thechance/wallet/service/TransactionServiceTest.kt
  wallet/src/test/kotlin/net/thechance/wallet/service/WalletServiceTest.kt
Labels: Wallet

#67 Feature/wlt 19 export transactions statement endpoint
  wallet/build.gradle.kts
  wallet/src/main/kotlin/net/thechance/wallet/api/controller/TransactionController.kt
  wallet/src/main/kotlin/net/thechance/wallet/api/controller/util/StatementHtmlGenerator.kt
  wallet/src/main/kotlin/net/thechance/wallet/api/controller/util/StatementPdfWriter.kt
  wallet/src/main/kotlin/net/thechance/wallet/api/dto/error/ErrorResponse.kt
  wallet/src/main/kotlin/net/thechance/wallet/api/dto/transaction/StatementData.kt
  wallet/src/main/kotlin/net/thechance/wallet/exception/WalletException.kt
  wallet/src/main/kotlin/net/thechance/wallet/exception/WalletExceptionHandler.kt
  wallet/src/main/kotlin/net/thechance/wallet/repository/TransactionRepository.kt
  wallet/src/main/kotlin/net/thechance/wallet/repository/WalletUserRepository.kt
  wallet/src/main/kotlin/net/thechance/wallet/service/StatementService.kt
  wallet/src/main/kotlin/net/thechance/wallet/service/TransactionService.kt
  wallet/src/main/kotlin/net/thechance/wallet/service/helper/TransactionFilterParams.kt
  wallet/src/main/resources/fonts/MadimiOne-Regular.ttf
  wallet/src/main/resources/fonts/Poppins-Medium.ttf
  wallet/src/main/resources/fonts/Poppins-Regular.ttf
  wallet/src/main/resources/fonts/Poppins-SemiBold.ttf
  wallet/src/main/resources/static/mena_logo.svg
  wallet/src/main/resources/templates/statement.html
Labels: Wallet

#71 feature: implement identity image upload and exception handling
  app/src/main/kotlin/net/thechance/config/storage/StorageConfig.kt
  app/src/main/resources/application.properties
  identity/build.gradle.kts
  identity/src/main/kotlin/net/thechance/identity/api/controller/IdentityController.kt
  identity/src/main/kotlin/net/thechance/identity/api/controller/IdentityControllerAdvice.kt
  identity/src/main/kotlin/net/thechance/identity/api/controller/ProfileController.kt
  identity/src/main/kotlin/net/thechance/identity/api/controller/ProfileControllerAdvice.kt
  identity/src/main/kotlin/net/thechance/identity/api/dto/GeneralResponse.kt
  identity/src/main/kotlin/net/thechance/identity/exception/UploadImageException.kt
  identity/src/main/kotlin/net/thechance/identity/security/SecurityConfig.kt
  identity/src/main/kotlin/net/thechance/identity/service/IdentityImageStorageService.kt
  identity/src/main/kotlin/net/thechance/identity/service/UpdateUserProfileImageService.kt
Labels: Infra

#66 Feature/TRN-39 upload trend endpoint
  app/build.gradle.kts
  app/src/main/kotlin/net/thechance/config/FileSizeFilter.kt
  app/src/main/kotlin/net/thechance/config/FileSizeProperties.kt
  app/src/main/resources/application.properties
  trends/build.gradle.kts
  trends/src/main/kotlin/net/thechance/trends/api/controller/CategoryController.kt
  trends/src/main/kotlin/net/thechance/trends/api/controller/ReelsController.kt
  trends/src/main/kotlin/net/thechance/trends/api/controller/TrendUserController.kt
  trends/src/main/kotlin/net/thechance/trends/api/dto/reel/ReelResponse.kt
  trends/src/main/kotlin/net/thechance/trends/api/dto/reel/UpdateReelRequest.kt
  trends/src/main/kotlin/net/thechance/trends/api/dto/reel/UploadReelResponse.kt
  trends/src/main/kotlin/net/thechance/trends/entity/Reel.kt
  trends/src/main/kotlin/net/thechance/trends/exception/TrendExceptions.kt
  trends/src/main/kotlin/net/thechance/trends/exception/TrendsGlobalExceptionHandler.kt
  trends/src/main/kotlin/net/thechance/trends/service/CategoryService.kt
  trends/src/main/kotlin/net/thechance/trends/service/ReelsService.kt
  trends/src/main/kotlin/net/thechance/trends/service/TrendUserService.kt
  trends/src/main/kotlin/net/thechance/trends/service/VideoStorageService.kt
  trends/src/main/resources/db-trends/changelog/changelogs/changelogs_003.yaml
Labels: Trends

#76 Feature/dkn 61 error handling
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanExceptionHandler.kt
  dukan/src/main/kotlin/net/thechance/dukan/api/dto/ErrorResponse.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanCreationFailedException.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanException.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanExceptionHandler.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanExceptions.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanImageExceptions.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanNotFoundException.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanProductExceptions.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/DukanShelfExceptions.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/ErrorCodes.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/ShelfDeletionNotAllowedException.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/ShelfNotFoundException.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/dukan_product/DukanProductCreationFailedException.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/dukan_product/ProductNameAlreadyTakenException.kt
  dukan/src/main/kotlin/net/thechance/dukan/exception/dukan_product/ProductNotFoundException.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanProductService.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanShelfService.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/ImageStorageService.kt
Labels: Dukan

#64 Feature/cht 39 create web socket configurer
  chat/build.gradle.kts
  chat/src/main/kotlin/net/thechance/chat/api/config/WebSocketConfig.kt
  chat/src/main/kotlin/net/thechance/chat/api/controller/ChatController.kt
  chat/src/main/kotlin/net/thechance/chat/api/dto/ChatResponse.kt
  chat/src/main/kotlin/net/thechance/chat/api/dto/MarkAsReadRequest.kt
  chat/src/main/kotlin/net/thechance/chat/api/dto/MessageDto.kt
  chat/src/main/kotlin/net/thechance/chat/api/dto/MessageResponse.kt
  chat/src/main/kotlin/net/thechance/chat/api/dto/PagedResponse.kt
  chat/src/main/kotlin/net/thechance/chat/entity/Message.kt
  chat/src/main/kotlin/net/thechance/chat/repository/ChatRepository.kt
  chat/src/main/kotlin/net/thechance/chat/repository/ContactRepository.kt
  chat/src/main/kotlin/net/thechance/chat/repository/ContactUserRepository.kt
  chat/src/main/kotlin/net/thechance/chat/repository/MessageRepository.kt
  chat/src/main/kotlin/net/thechance/chat/service/ChatService.kt
  chat/src/main/kotlin/net/thechance/chat/service/ContactService.kt
  chat/src/main/kotlin/net/thechance/chat/service/ContactUserService.kt
  chat/src/main/kotlin/net/thechance/chat/service/args/CreateMessageArgs.kt
  chat/src/test/kotlin/net/thechance/chat/api/controller/ChatControllerTest.kt
  chat/src/test/kotlin/net/thechance/chat/service/ChatServiceTest.kt
  chat/src/test/kotlin/net/thechance/chat/service/ContactServiceTest.kt
  chat/src/test/kotlin/net/thechance/chat/service/ContactUserServiceTest.kt
Labels: Chat

#55 Implement reset password
  identity/build.gradle.kts
  identity/src/main/kotlin/net/thechance/identity/api/controller/IdentityController.kt
  identity/src/main/kotlin/net/thechance/identity/api/controller/IdentityControllerAdvice.kt
  identity/src/main/kotlin/net/thechance/identity/api/dto/ResetPasswordRequest.kt
  identity/src/main/kotlin/net/thechance/identity/api/dto/VerifyOtpRequest.kt
  identity/src/main/kotlin/net/thechance/identity/api/dto/VerifyOtpResponse.kt
  identity/src/main/kotlin/net/thechance/identity/exception/AuthenticationException.kt
  identity/src/main/kotlin/net/thechance/identity/exception/ResetPasswordException.kt
  identity/src/main/kotlin/net/thechance/identity/repository/OtpLogRepository.kt
  identity/src/main/kotlin/net/thechance/identity/service/OtpService.kt
  identity/src/main/kotlin/net/thechance/identity/service/ResetPasswordService.kt
  identity/src/main/kotlin/net/thechance/identity/service/UserService.kt
  identity/src/main/resources/identity-rate-limit.properties
  identity/src/test/kotlin/net/thechance/identity/service/ResetPasswordServiceTest.kt
  identity/src/test/kotlin/net/thechance/identity/service/UserServiceTest.kt
  identity/src/test/kotlin/net/thechance/identity/utils/OtpLogCreator.kt
  identity/src/test/kotlin/net/thechance/identity/utils/UserCreator.kt
  identity/src/test/kotlin/net/thechance/identity/utils/ValidatedPhoneNumberCreator.kt
Labels: Infra

#82 Feautre/TRN-54-Use stream instead of loading the entire file into memory
  trends/src/main/kotlin/net/thechance/trends/service/FileStorageService.kt
Labels: Trends

#84 fix: migration failed with existing users
  identity/src/main/resources/db-identity/changelog/changelogs/changelogs_002.yaml
  identity/src/main/resources/db-identity/changelog/changelogs/changelogs_004.yaml
Labels: Infra

#87 Feature/TRN-58-add logic to know if the current user is owner of reel or not
  trends/src/main/kotlin/net/thechance/trends/api/controller/ReelsController.kt
  trends/src/main/kotlin/net/thechance/trends/api/dto/reel/ReelResponse.kt
Labels: Trends

#88 feat: add endpoint to get all shelves by dukan ID
  dukan/src/main/kotlin/net/thechance/dukan/api/controller/DukanShelfController.kt
  dukan/src/main/kotlin/net/thechance/dukan/repository/DukanShelfRepository.kt
  dukan/src/main/kotlin/net/thechance/dukan/service/DukanShelfService.kt
Labels: Dukan
